body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    text-shadow: 2px 2px 5px #00FF00;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

p {
    font-size: 1.5em;
    margin: 0;
}
